asyncqt==0.8.0
bleak==0.21.1
numpy==1.25.2
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-libdispatch==9.2
PySide6==6.5.2
PySide6-Addons==6.5.2
PySide6-Essentials==6.5.2
scipy==1.11.2
shiboken6==6.5.2
typing_extensions==4.7.1
